.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.services-title {
    position: relative;
}

.services-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: 0.4s;
    cursor: pointer;
}

.services-format h3 {
    font-size: 28px;
    font-weight: 600;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-format h2 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p {
    color: #d4d4d4;
    font-size: 24px;
    max-width: 300px;
}

.services-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover {
    border: 2px solid #ff00ff;
    transform: scale(1.05);
    transition: 0.4s;
    background-image: linear-gradient(45deg, #3f0028,#582300);
}

/* Media Query for Tablets */
@media(max-width: 768px) {
    .services {
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }

    .services-title h1 {
        padding: 0;
        font-size: 50px;
    }

    .services-container {
        grid-template-columns: 1fr;
    }

    .services-format {
        gap: 20px;
        padding: 32px;
    }

    .services-format h2 {
        font-size: 28px;
    }

    .services-format p {
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }
}

/* Media Query for Mobile Phones */
@media(max-width: 480px) {
    .services {
        margin: 10px 20px;
        gap: 50px;
    }

    .services-title h1 {
        font-size: 40px;
    }

    .services-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .services-format {
        padding: 20px;
    }

    .services-format h3 {
        font-size: 22px;
    }

    .services-format h2 {
        font-size: 24px;
    }

    .services-format p {
        font-size: 16px;
        line-height: 28px;
        max-width: 100%;
    }

    .services-readmore {
        margin-top: 10px;
        gap: 10px;
    }
}
